.hero {
  align-items: flex-end;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 70%);
  display: flex;
  height: 100vh;
  margin-top: -36px;
	overflow: hidden;
	padding: 72px 36px;
	position: relative;
  width: 100vw;
}

.banner {
  height: 100%;
	left: 0;
  position: absolute;
	top: 0;
  width: 100%;
	z-index: -1;

  & > img {
		height: 100%;
    object-fit: cover;
    object-position: center;
		width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
	width: 600px;
}

.title {
	color: var(--white);
	font-size: 36px;
	margin: 0;
}

.information {
	color: var(--white);
	font-weight: 600;
}

.overview {
}

.genre {
	color: var(--white);
	font-weight: 600;
}
