:root {
  --bg-black: #0f1014;
  --light-black: #171717;
  --dark-grey: #222222;
  --grey: rgba(255, 255, 255, 0.6);
  --light-grey: rgba(255, 255, 255, 0.8);
  --white: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-black);
  color: var(--light-grey);
  display: flex;
  padding-left: 96px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}
