.posterCarousel {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.posterCarouselTitle {
  color: var(--light-grey);
  font-size: 20px;
}

.carouselWrapper {
  margin-right: -16px;
  position: relative;
}

.carousel {
  display: flex;
  gap: 8px;
  overflow: hidden;
	padding: 16px 16px 16px 0;
  white-space: nowrap;

  & > div {
    flex: none;
    width: calc(100% / 7.25 - 8px);
  }

  & > div > img {
    height: auto;
    width: 100%;
  }
}

.carouselNav {
  align-items: center;
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 24px;
  height: 100%;
  justify-content: center;
	opacity: 0;
  position: absolute;
	transition: 0.2s opacity;
	visibility: hidden;
  width: 80px;
  z-index: 1;

  &.left {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    left: 0;
  }

  &.right {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    right: 0;
  }

	&.visible {
		opacity: 1;
		visibility: visible;
	}

  &.isDragging {
    pointer-events: none;
  }
}
